n8n-workflow/incatat-telegram-bot.json
{
    "name": "incatat.id - Telegram Bot",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ]
            },
            "id": "b9f3e8d4-1234-4a5b-8c9d-e0f1a2b3c4d5",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-photo",
                            "leftValue": "={{ $json.message.photo }}",
                            "rightValue": "",
                            "operator": {
                                "type": "array",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "a1b2c3d4-5678-9abc-def0-123456789abc",
            "name": "Has Photo?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $credentials.geminiApi.apiKey }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'Analisis gambar struk ini dan return JSON: {\"store_name\": \"nama toko\", \"total\": angka, \"category\": \"makanan/transportasi/belanja/tagihan/hiburan\", \"date\": \"YYYY-MM-DD\", \"description\": \"deskripsi singkat\"}' }] }], generationConfig: { responseMimeType: 'application/json' } }) }}",
                "options": {}
            },
            "id": "c2d3e4f5-6789-0abc-def1-234567890bcd",
            "name": "Gemini Vision",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                690,
                180
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse text command like /tambah 50000 makan siang\nconst text = $input.first().json.message?.text || '';\nconst match = text.match(/^\\/(tambah|masuk)\\s+(\\d+)\\s*(.*)$/i);\n\nif (match) {\n  return [{\n    json: {\n      valid: true,\n      type: match[1].toLowerCase() === 'masuk' ? 'income' : 'expense',\n      amount: parseInt(match[2]),\n      description: match[3] || '',\n      telegram_id: $input.first().json.message.from.id,\n      chat_id: $input.first().json.message.chat.id\n    }\n  }];\n}\n\n// Check for /saldo\nif (text.startsWith('/saldo')) {\n  return [{\n    json: {\n      valid: true,\n      command: 'saldo',\n      telegram_id: $input.first().json.message.from.id,\n      chat_id: $input.first().json.message.chat.id\n    }\n  }];\n}\n\n// Check for /start or /help\nif (text.startsWith('/start') || text.startsWith('/help')) {\n  return [{\n    json: {\n      valid: true,\n      command: 'help',\n      chat_id: $input.first().json.message.chat.id\n    }\n  }];\n}\n\nreturn [{ json: { valid: false } }];"
            },
            "id": "d3e4f5a6-7890-1bcd-ef23-456789012cde",
            "name": "Parse Text Command",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                420
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://incatat.id/api/v1/user/verify?telegram_id={{ $json.telegram_id }}",
                "options": {}
            },
            "id": "e4f5a6b7-8901-2cde-f345-678901234def",
            "name": "Verify User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                910,
                420
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://incatat.id/api/v1/transaction/create",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ type: $('Parse Text Command').item.json.type, amount: $('Parse Text Command').item.json.amount, description: $('Parse Text Command').item.json.description, source: 'telegram', date: new Date().toISOString().split('T')[0] }) }}",
                "options": {}
            },
            "id": "f5a6b7c8-9012-3def-4567-890123456ef0",
            "name": "Create Transaction",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1130,
                420
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Parse Text Command').item.json.chat_id }}",
                "text": "=✅ {{ $('Parse Text Command').item.json.type === 'income' ? 'Pemasukan' : 'Pengeluaran' }} Rp {{ $('Parse Text Command').item.json.amount.toLocaleString('id-ID') }} berhasil dicatat!\n\n📝 {{ $('Parse Text Command').item.json.description || '-' }}",
                "additionalFields": {}
            },
            "id": "a6b7c8d9-0123-4ef0-5678-901234567abc",
            "name": "Send Confirmation",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1350,
                420
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.message.chat.id }}",
                "text": "👋 Selamat datang di incatat.id Bot!\n\n📝 Catat keuangan:\n• /tambah <jumlah> <deskripsi>\n  Contoh: /tambah 50000 makan siang\n\n• /masuk <jumlah> <deskripsi>\n  Contoh: /masuk 5000000 gaji\n\n• /saldo - Cek saldo bulan ini\n\n📷 Kirim foto struk untuk pencatatan otomatis!\n\n⚠️ Hubungkan Telegram di incatat.id > Settings",
                "additionalFields": {}
            },
            "id": "b7c8d9e0-1234-5abc-6789-012345678bcd",
            "name": "Send Help",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                910,
                600
            ]
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Has Photo?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Photo?": {
            "main": [
                [
                    {
                        "node": "Gemini Vision",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Parse Text Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Text Command": {
            "main": [
                [
                    {
                        "node": "Verify User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verify User": {
            "main": [
                [
                    {
                        "node": "Create Transaction",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Transaction": {
            "main": [
                [
                    {
                        "node": "Send Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2025-01-15T00:00:00.000Z",
    "versionId": "1"
}