n8n-workflow/My workflow-Template.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d6f6511a-01ab-4b11-8e24-a23d59546c56",
      "name": "Telegram Trigger",
      "webhookId": "91068024-2610-4b3d-a668-d940a300075d",
      "credentials": {
        "telegramApi": {
          "id": "dS08rsULHhgTI5tb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://incatat.id/api/v1/verify-user?telegram_id={{ $json.message.from.username }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "25f6c581-737e-4f64-b9f7-5293bed133fc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c9a274f-b63d-45ba-8d3d-329f4400ae24",
              "leftValue": "={{ $json.registered }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "85a71c13-3ac5-4354-a25b-2d833cb5e778",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}\nhttps://incatat.id",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        96
      ],
      "id": "61c0db83-6c9d-4821-bb63-bd6c2eb27c3d",
      "name": "Send a text message",
      "webhookId": "43933bc6-ca01-41aa-8aec-7606a26ccdf3",
      "credentials": {
        "telegramApi": {
          "id": "dS08rsULHhgTI5tb",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fd710068-6bbb-4c50-abe0-4fecca709218",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55dd70f2c62fed27e47bb7d406037addccd141087e28ea2983f0b32d42c1f91b"
  },
  "id": "kyqYHVaZWApehK4j2JCL4",
  "tags": []
}