n8n-workflow/n8n-workflow-telegram-gemini.json
{
    "name": "incatat.id - Telegram Bot + Gemini AI",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ],
            "id": "d6f6511a-01ab-4b11-8e24-a23d59546c56",
            "name": "Telegram Trigger",
            "webhookId": "91068024-2610-4b3d-a668-d940a300075d",
            "credentials": {
                "telegramApi": {
                    "id": "dS08rsULHhgTI5tb",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "rules": [
                        {
                            "value1": "={{ $json.message.photo }}",
                            "operation": "exists",
                            "output": 0
                        },
                        {
                            "value1": "={{ $json.message.text }}",
                            "operation": "startsWith",
                            "value2": "/start",
                            "output": 1
                        },
                        {
                            "value1": "={{ $json.message.text }}",
                            "operation": "startsWith",
                            "value2": "/tambah",
                            "output": 2
                        },
                        {
                            "value1": "={{ $json.message.text }}",
                            "operation": "startsWith",
                            "value2": "/masuk",
                            "output": 3
                        },
                        {
                            "value1": "={{ $json.message.text }}",
                            "operation": "startsWith",
                            "value2": "/saldo",
                            "output": 4
                        },
                        {
                            "value1": "={{ $json.message.text }}",
                            "operation": "startsWith",
                            "value2": "/help",
                            "output": 5
                        }
                    ],
                    "fallbackOutput": 6
                }
            },
            "id": "switch-message-type",
            "name": "Check Message Type",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "url": "=https://incatat.id/api/v1/user/verify?telegram_id={{ $json.message.from.id }}",
                "options": {}
            },
            "id": "verify-user",
            "name": "Verify User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                440,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.message.photo[-1].file_path }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download-photo",
            "name": "Download Photo",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                440,
                -200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpQueryAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      {\"text\": \"Analisis gambar struk/receipt ini dan ekstrak informasi berikut dalam format JSON:\\n\\n{\\n  \\\"store_name\\\": \\\"nama toko/merchant\\\",\\n  \\\"date\\\": \\\"YYYY-MM-DD\\\",\\n  \\\"items\\\": [{\\\"name\\\": \\\"nama item\\\", \\\"price\\\": 12000, \\\"qty\\\": 1}],\\n  \\\"total\\\": 0,\\n  \\\"category_suggestion\\\": \\\"makanan/transportasi/belanja/tagihan/hiburan\\\"\\n}\\n\\nJika tidak bisa membaca, return: {\\\"error\\\": \\\"Tidak dapat membaca struk\\\"}\\nPastikan total dalam angka tanpa format.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"image/jpeg\",\n          \"data\": \"{{ $binary.data.toString('base64') }}\"\n        }\n      }\n    ]\n  }],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\"\n  }\n}",
                "options": {}
            },
            "id": "gemini-vision",
            "name": "Gemini Vision API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                660,
                -200
            ],
            "credentials": {
                "httpQueryAuth": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Gemini API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse Gemini response\nconst geminiResponse = $input.first().json;\nconst text = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\ntry {\n  const receipt = JSON.parse(text);\n  \n  if (receipt.error) {\n    return [{ json: { success: false, error: receipt.error } }];\n  }\n  \n  return [{\n    json: {\n      success: true,\n      store_name: receipt.store_name || 'Unknown',\n      date: receipt.date || new Date().toISOString().split('T')[0],\n      total: receipt.total || 0,\n      items: receipt.items || [],\n      category: receipt.category_suggestion || 'belanja',\n      description: `${receipt.store_name || 'Struk'} - ${receipt.items?.length || 0} item`\n    }\n  }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Gagal parse response AI' } }];\n}"
            },
            "id": "parse-gemini",
            "name": "Parse Receipt Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                -200
            ]
        },
        {
            "parameters": {
                "url": "https://incatat.id/api/v1/transaction/create",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"type\": \"expense\",\n  \"amount\": {{ $json.total }},\n  \"description\": \"{{ $json.description }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"date\": \"{{ $json.date }}\",\n  \"source\": \"telegram\"\n}",
                "options": {}
            },
            "id": "create-transaction-receipt",
            "name": "Create Transaction (Receipt)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                -200
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_API_TOKEN_CREDENTIAL_ID",
                    "name": "incatat API Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse /tambah or /masuk command\nconst text = $input.first().json.message.text;\nconst parts = text.split(' ');\nconst command = parts[0];\nconst amount = parseInt(parts[1]) || 0;\nconst description = parts.slice(2).join(' ') || '';\n\nreturn [{\n  json: {\n    type: command === '/masuk' ? 'income' : 'expense',\n    amount: amount,\n    description: description,\n    telegram_id: $input.first().json.message.from.id\n  }\n}];"
            },
            "id": "parse-text-command",
            "name": "Parse Text Command",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                400
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.message.chat.id }}",
                "text": "=✅ Struk dari \"{{ $json.store_name }}\" berhasil dicatat!\n\n💰 Total: Rp {{ $json.total.toLocaleString('id-ID') }}\n📁 Kategori: {{ $json.category }}\n📅 Tanggal: {{ $json.date }}",
                "additionalFields": {}
            },
            "id": "send-receipt-confirmation",
            "name": "Send Receipt Confirmation",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1320,
                -200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "👋 Selamat datang di incatat.id Bot!\n\n📝 Catat keuangan Anda dengan mudah:\n\n/tambah <jumlah> <deskripsi>\nContoh: /tambah 50000 makan siang\n\n/masuk <jumlah> <deskripsi>\nContoh: /masuk 5000000 gaji\n\n/saldo - Cek saldo bulan ini\n\n📷 Kirim foto struk untuk pencatatan otomatis!\n\n⚠️ Pastikan akun Telegram sudah terhubung di website incatat.id",
                "additionalFields": {}
            },
            "id": "send-help",
            "name": "Send Help Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                440,
                600
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram Bot"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Check Message Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Message Type": {
            "main": [
                [
                    {
                        "node": "Download Photo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Help Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Parse Text Command",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Parse Text Command",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Verify User",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Help Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Help Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Photo": {
            "main": [
                [
                    {
                        "node": "Gemini Vision API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Vision API": {
            "main": [
                [
                    {
                        "node": "Parse Receipt Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Receipt Data": {
            "main": [
                [
                    {
                        "node": "Create Transaction (Receipt)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Transaction (Receipt)": {
            "main": [
                [
                    {
                        "node": "Send Receipt Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": false
    }
}